<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>

          <ion-item routerLink="/">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>

          <ion-item routerLink="/business">
            <ion-icon name="business-outline" slot="start"></ion-icon>
            <ion-label>Business</ion-label>
          </ion-item>
  
          <ion-item routerLink="/entertainment">
            <ion-icon name="newspaper-outline" slot="start"></ion-icon>
            <ion-label>Entertainment</ion-label>
          </ion-item>
  
          <ion-item routerLink="/technology">
            <ion-icon name="game-controller" slot="start"></ion-icon>
            <ion-label>Technology</ion-label>
          </ion-item>
  
           <ion-item routerLink="/science">
            <ion-icon name="globe" slot="start"></ion-icon>
              <ion-label>Science</ion-label>
          </ion-item>
  
           <ion-item routerLink="/sports">
            <ion-icon name="bicycle" slot="start"></ion-icon>
              <ion-label>Sport</ion-label>
          </ion-item>
  
        </ion-menu-toggle>
       
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>